{% extends "templates/web.html" %}

{% block page_content %}
<div style="border:1px solid #aca5a5; padding:10px; margin-bottom:5px; color:#000; background-color:#f5f5f5; border-radius:10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">

<h2>{{ doc.name }}</h2>

<p><strong>Airplane:</strong> {{ doc.airplane }}</p>
<p><strong>From:</strong> {{ doc.source_airport_code }}</p>
<p><strong>To:</strong> {{ doc.destination_airport_code }}</p>
<p><strong>Date:</strong> {{ frappe.utils.format_date(doc.date_of_departure, "d MMMM, YYYY") }}</p>
<p><strong>Time:</strong> {{ doc.time_of_departure }}</p>
<p><strong>Duration:</strong> {{ frappe.utils.format_duration(doc.duration) }}</p>

<a href="/book-flight-ticket-web-form?flight=indigo-004-07-2026-00013" style=" display:block; text-align:center; padding:10px 20px; background-color:#007bff; color:#fff; text-decoration:none; border-radius:5px; margin-top:10px;">
    Book Flight
</a>
</div>

{% endblock %}